name: Bazel

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
    workflow_dispatch:

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest]
        steps:
            - name: "Checkout sources"
              uses: actions/checkout@v2

            - name: "Install Eigen (Linux)"
              if: runner.os == 'Linux'
              run: sudo apt-get install -y libeigen3-dev

            - name: "Install Eigen (macOS)"
              if: runner.os == 'macOS'
              run: |
                 brew update
                 brew install eigen

            - name: "Install Python"
              uses: actions/setup-python@v4
              with:
                python-version: "3.10"

            - name: "Install PyPI dependencies"
              run: pip3 install clang-format numpy six

            - name: "Build the library"
              env:
                  BAZELISK_GITHUB_TOKEN: ${{ secrets.BAZELISK_GITHUB_TOKEN }}
              run: |
                  tools/bazelisk build --compilation_mode=fastbuild //...

    coverage:
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout sources"
              uses: actions/checkout@v2

            - name: "Report test coverage"
              run: |
                  tools/bazelisk coverage --combined_report=lcov --instrument_test_targets //...

            - name: "Submit report to Coveralls"
              uses: coverallsapp/github-action@1.1.3
              with:
                  github-token: ${{ secrets.github_token }}
                  path-to-lcov: ${{ github.workspace }}/bazel-out/_coverage/_coverage_report.dat

    lint:
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout sources"
              uses: actions/checkout@v2
              with:
                  submodules: recursive

            - name: "Check clang-format version"
              run: |
                  clang-format --version

            - name: "Check code formatting"
              env:
                  BAZELISK_GITHUB_TOKEN: ${{ secrets.BAZELISK_GITHUB_TOKEN }}
              run: |
                  tools/bazelisk test --compilation_mode=fastbuild --config lint //...

    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest]
        steps:
            - name: "Checkout sources"
              uses: actions/checkout@v2
              with:
                  submodules: recursive

            - name: "Check unit tests"
              env:
                  BAZELISK_GITHUB_TOKEN: ${{ secrets.BAZELISK_GITHUB_TOKEN }}
              run: |
                  tools/bazelisk test //...
